<!DOCTYPE html>
<html>
  <head>
    <title>Dlack: Redefining Teamwork</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/afaa37ed15.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type='image/x-icon' href='<%= asset_path('favicon.ico') %>'/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
